@import "variables";
body {
  
  //font-family: 'Open Sans', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  padding:0 ;
  position:relative;
}
.wrapper {
  > section {
    width:100%;
    padding:1rem;
    background:#f1f1f1;
    &.print {
      background:#ffffff;
    }
  }
}
.showhide {
  padding:0 1rem;
  button {
    border:none;
    background:white;
    border-radius:.3rem;
    margin-right:.5rem;
  }
  .pushed {
    
  }
}
/* //////////////////////////////////////////////////// */
/* BACK TO TOP */
/* //////////////////////////////////////////////////// */

.back-to-top {
  position: fixed;
  right: -90px;
  transition: all ease 0.3s;
  &.active {
    width: 4rem;
    height: 4rem;
    background: blue;
    color: #fff;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: white;
    }
    .material-icons {
      transform: scale(1.15);
    }
    border-radius: 100%;
  }
}

.badge-black {
  background:#ab07ff;
  color:white;
}
.main-search {
  margin: 0;
  font-size:40px;
  margin:1.5rem .5rem;
  padding:.6rem 1rem;
  border:none;
  font-weight:300;
  border-radius: .75rem;
  &:focus {
    outline: none;
    box-shadow:none;
  }
}
.stud-container {
  display:flex;
  flex-grow:1;
  flex-direction:column;
  margin:.5rem;
  width:calc(50% - 1rem);
  border-radius:.2rem;
  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .stud {
    &:hover {
      text-decoration:none;
    }
  }
  .stud-wrapper {
    border-radius:.2rem;
    color:black;
    padding:.8rem .8rem 0;
    background:white;
    flex-grow:1;
    border-color: #ddd;
    > a {
      color:black;
      &:hover {
        text-decoration:none;
      }
    }
  }
  &.status-ok {
    .stud-wrapper {
      border-color: rgb(70, 226, 122);
    }
    
  }
}
.stud-wrapper {
  &.isEchec {
    border-color: rgb(243, 79, 37)  !important;
    .material-icons {
      color: rgb(243, 79, 37) !important;
    }
   
  }
}
.isDispense {
  .stud-wrapper {
    &.isEchec {
      border-color: rgb(137, 218, 99)!important;
      .material-icons {
        color:rgb(92, 184, 49) !important;
      }
    }
  }
}
.stud-thumb {
  width:80px;
  height:auto;
  border-radius:.2rem;
  margin-right:1rem;
  min-width:80px;
  min-height:120px;
  background:#f1f1f1;
  border:none !important;
  box-shadow:none;
}
.stud-name {
  display:flex;
  align-items: flex-start;
  font-size:1.5rem;

  strong {
    font-weight:900;
  }
  
}
.total-general {
 
  
}
.cotes {
  margin-top:.5rem;
div {
  display:flex;
  align-items:center;
    padding:.1rem .3rem;
    color:#ccc;
    font-size:.75rem;
    span {
      font-size:1rem;
      font-weight:600;
      color:black;
      margin-right:.1rem;
    }
    &.art {
      border-radius:.3rem;
      background:#f5f5f5;
      margin-right:.3rem;
      flex-shrink:0;
      padding:.3rem .5rem;
      margin-left:.5rem;

    }
  }
}
.totaux {
  flex-grow:1;
  > div {
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow:1;
    font-weight:400;
    font-size:1rem;
    &.total-general {
      font-weight:800;
      font-size:2rem;
      line-height:1.8rem;
    }
  }
}
.total-general {
  font-weight:800;
  font-size:2rem;
  line-height:1.8rem;
}
.stud-buttons {
  border-top:1px solid #eee;
  a, > span {
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:.75rem 1.5rem;
    font-weight:600;
    color:rgb(78, 78, 78);
    border-right:1px solid #eee;
    &:hover {
      cursor:pointer;
      color:black;
      text-decoration: none;
    }
  }
  .modif-button {
    &:last-child {
      border-right:none;
    }
  }
}

.moyennes {
  > div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:.3rem .6vw;
    font-size:.8rem;
    color:#666;
    border-right:1px dashed #ddd;
    &:last-child {
      border-right:none;
    }
    .label,
    .valeur {
      color:black;
    }
  }
  .label {
    font-size:.65rem;
  }
  .valeur {
    font-size:1.8vw;
    font-weight: 300;
    &.fat {
      font-weight: 800;
      
    }
  }
}
.badge {
  display:inline-flex;
  justify-content: center;
  align-items: center;
  font-size:13px !important;
  font-weight:400;
}
.badge-warning {
  color: #000000;
  background-color: #ffe675;
}
.badge-info {
  background-color: #5ba6c4;
}

.isOK,
.isUptodate,
.isDispense {
  .stud-wrapper {
    border-left:7px solid rgb(137, 218, 99);
    &.isEchec {
      background: rgb(255,221,221);
      background: linear-gradient(167deg, rgba(255,221,221,1) 0%, rgba(255,255,255,1) 57%);
      .stud {
        color:rgb(243, 61, 37) !important;
        .cursus {
          color:#000000 !important;
        }
        /*.moyennes > div {
          color:rgb(243, 61, 37) !important;
          .valeur,
          .label {
            color:rgb(243, 61, 37) !important;
          }
        }*/
      }
    }
  }
}
.isDispense {
  .stud-wrapper {
    border-left:7px solid rgb(137, 218, 99);
    &.isEchec {
      background: white;
      .stud {
        color:#000000 !important;
        .totaux {
          display:flex;
          align-items: center;
          &:before {
            content:"Dispense";
            font-size:12px;
            font-weight: 800;
            color:white;
            background:black;
            text-transform: uppercase;
            padding:.15rem .25rem;
            display:flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
.neantHidden {
  .stud-container {
    &.isNeant {
      display:none !important;
    }
  }
}
.horslisteHidden {
  .stud-container {
    &.isHorsliste {
      display:none !important;
    }
  }
}
.q1Hidden {
  .stud-container {
    &.Q1 {
      display:none !important;
    }
  }
}
.isCas {
  //border:1px solid rgb(243, 61, 37);
  //border-color:rgb(243, 61, 37);
  .stud-wrapper {
    background: rgb(255,221,221);
    background: linear-gradient(167deg, rgba(255,221,221,1) 0%, rgba(255,255,255,1) 57%);
    .stud {
      color:rgb(243, 61, 37) !important;
      .cursus {
        color:#000000 !important;
      }
      /*.moyennes > div {
        color:rgb(243, 61, 37) !important;
        .valeur,
        .label {
          color:rgb(243, 61, 37) !important;
        }
      }*/
    }
    //
  }
}
.isNeant {
 
  img {
    opacity:.5;
    filter:grayscale(1);
  }
}
.isDepou {
  border:none;
}
.rouge {
color:rgb(243, 79, 37) !important;
}
.isOK,
.isNeant,
.isDispense {
  .img-container {
    position:relative;
    .material-icons {
      display:inline-flex;
      font-size:26px;
      background:white;
      border-radius:40px;
      color:black;
      position:absolute;
      top:100px;
      right:.1rem;
    }
  }
}
.img-container {
  .material-icons {
    display:none;
  }
}
.isUptodate {
  .img-container {
    .material-icons {
      display:none;
    }
  }
}
.isOK,
.isDispense {
  .img-container {
    .material-icons {
      color:rgb(92, 184, 49) !important;
    }
  }
}

.isNeant {
  .img-container {
    .material-icons {
      color:rgb(131, 131, 131) !important;
    }
  }
}
.isEchec {
  .img-container {
    .material-icons {
      color:$rouge !important;
    }
  }
}
.isNeant {
  .img-container {
    .material-icons {
      color:#999;
    }
  }
}
.comment {
  display:none;
  font-size:.8rem;
  background:#f9f9f9;
  padding:.5rem;
  border-radius:.4rem;
  margin-top:1rem;
}

.BAI,
.BCERA,
.BCINE,
.BCOM,
.BCROA,
.BDLP,
.BDI,
.BDT,
.BDESS,
.BESPA,
.BGRAV,
.BPEIN,
.BPHOT,
.BSCEN,
.BSCUL,
.BSTYL,
.BTYPO {
  display:none !important;
}
.showBAI {
  .BAI {
    display:flex !important;
  }
}
.showBCERA {
  .BCERA {
    display:flex !important;
  }
}
.showBCINE {
  .BCINE {
    display:flex !important;
  }
}
.showBCOM {
  .BCOM {
    display:flex !important;
  }
}
.showBCROA {
  .BCROA {
    display:flex !important;
  }
}
.showBDLP {
  .BDLP {
    display:flex !important;
  }
}
.showBDI {
  .BDI {
    display:flex !important;
  }
}
.showBDT {
  .BDT {
    display:flex !important;
  }
}
.showBDESS {
  .BDESS {
    display:flex !important;
  }
}
.showBESPA {
  .BESPA {
    display:flex !important;
  }
}
.showBGRAV {
  .BGRAV {
    display:flex !important;
  }
}
.showBPEIN {
  .BPEIN {
    display:flex !important;
  }
}
.showBPHOT {
  .BPHOT {
    display:flex !important;
  }
}
.showBSCEN {
  .BSCEN {
    display:flex !important;
  }
}
.showBSCUL {
  .BSCUL {
    display:flex !important;
  }
}
.showBSTYL {
  .BSTYL {
    display:flex !important;
  }
}
.showBTYPO {
  .BTYPO {
    display:flex !important;
  }
}


.showQ1 {

}





input[type=checkbox] {
  background:#ccc;
}
#choixOptions {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  margin:1.5rem .5rem 1.5rem;
  padding:0 13vw;
  div {
    align-items:center;
    display:flex;
    input {
      position:absolute;
      top:-6000px;
      &:checked {
        + label {
          color:black;
          
          background:white;
            border:2px solid #5ba6c4;
        }
      }
    }
    label,
    a {
      display: flex;
      align-items: center;
      margin: 0;
      border-radius: 5rem;
      color: black;
      font-weight:400;
      font-size:14px;
      background:white;
      padding:.5rem 1rem .35rem;
      margin:0 .4rem .4rem 0;
      border:2px solid white;
    }
    a {
      border:2px solid #bdbdbd;
      color:#fff;
      font-weight:700;
      background:#616161;
      .material-icons {
        height:20px;
        width:20px;
        display:flex;
        align-items:center;justify-content: center;;
      }
      &:hover {
        text-decoration:none;
        background:#464646;
      }
    }
    &.q1 {
      input {
        &:checked {
          + label {
            color:black;
            background:white;
            border:2px solid #ffe675;
      
          }
        }
      }
      label {
        color: black;
        background:white;
      }
    }
    &.select,
    &.deselect {
      input {
        + label {
          color:black;
          background:white;
            &:focus {
              color:black;
          background:white;
          border:2px solid white;
            }
        }
        &:checked {
          + label {
            color:black;
          background:white;
          border:2px solid white;
          }
        }
      }
    }
  }
}
#choixQuadri {
  display:flex;
}

.wrapper {
  > section {
    /*position:fixed;
    overflow-y:scroll;
    max-height:100vh;*/
  }
}
.cursus {
  display:flex;
  align-items:center;
}
.prof-icon {
  padding:0;
  font-size:18px;
  color:#333;
  margin-right:4px;
}

.comment-icon {
  //transition:all ease .2s;
  &:hover {
    cursor:pointer;
    transform: scale(1.1);
  }
}

/* ////////////////////////////////////////////////////// */

.studmodal {
  z-index:100;
  background:rgba(0, 0, 0, 0.9);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items:center;
  max-height:100vh;
  padding-left:8vw;
  padding-right:8vw;
  img {
    max-width:100% !important;
    height:auto !important;
  }
  h2,
  .total-general {
    font-size:3rem;
    .material-icons {
      font-size:50px;
      padding:0;
      opacity:.6;
      transition:all ease .2s;
      &:hover {
        opacity:1;
        cursor:pointer;
      }
    }
  }
  .studmodal-content {
      background:white;
      padding:2rem 3rem 4rem;
      border-radius: .3rem;
      flex-grow:1;
      overflow-y:scroll;
      max-height:90vh;
      padding-bottom:3rem;
      h2 {
        font-weight:700;
      }
      .pond {
        font-weight:400;
      }
  }
  h3 {
    font-weight:100;
    margin-top:1.25rem;
    margin-bottom: 0;
    font-size:1.5rem;
    color:rgb(8, 131, 161);
    &:first-child {
      margin-top:2rem;
    }
  }

}
.modalisopen {
  
}
.commentaire-general {
  h1, h2 {
    font-size:1rem;
    background:#F1F1F1;
  }
}


.mod-cotes {
  flex-grow:1;
  //margin-top:.5rem;
  min-width:50%;
  &:first-child {
    padding-right:.75rem;
    + .mod-cotes {
      padding-left:.75rem;
    }
  }
  h4 {
    font-size:1.2rem;
    margin-top:2rem;
    font-weight:700;
    &:first-child {
      margin-top:1rem;
    }
  }
  
  .mod-cote {
      display:flex;
      align-items:center;
      padding:0 .3rem;
      //color:#ccc;
      font-size:1rem;
      //font-weight:600;
      color:black;
      justify-content: space-between;
      .cote-item {
        font-weight:400;
        font-size:.8rem;
      }
      .cote-dash {
        display:flex;
        flex-grow:1;
        height:1px;
        background:white;
        margin:0 1.2rem;
        border-bottom:1px dashed #ccc;
      }
      .cote-nbr {
        font-weight:700;
        font-size:1.2rem;
      }
      span {
       
       
        margin-right:.1rem;
      }
 }}
 .mod-comment {
margin-top:.5rem;
&:first-child {
  margin-top:1.15rem;
}
 }
 .nonremis {
   color:#ccc !important;
 }
 $evalex: #eee;
.evalex {
  padding:.2rem .4rem;
  display:flex;
  flex-direction:column;
  font-size:.95rem;
  font-weight:600;
  color:#000;
  justify-content: center;
  align-items: center;
  background: $evalex;
  margin-right:.4rem;
  border-radius:.2rem;
  span {
    font-weight:400;
    font-size:.7rem;
  }
  &.rouge {
    background: rgb(255, 228, 228);
    &:hover {
      text-decoration:none;
      color:#000;
      background: rgb(255, 216, 216);
    }
  }
  &:hover {
    text-decoration:none;
    color:#000;
    background: darken($evalex,6%);
  }
}

///////////////////////////////////////////////////
///////////////////////////////////////////////////
// PRINT
///////////////////////////////////////////////////
///////////////////////////////////////////////////
@page {
  margin: 20px;
}

.print {
  .back-to-top {
    display:none;
  }
  .stud-thumb {
    width: 50px;
    height: auto;
    border-radius: .2rem;
    margin-right: 1rem;
    min-width: 50px;
    min-height: 80px;
    background: #f1f1f1;
    border: none !important;
    box-shadow: none;
}
.aCi {
  img {
    width: 50px;
    min-width: 50px;
    min-height: 50px;
  }
}
.comment-general {
  img {
    max-width:100%;
  }
}
  .print-tag {
    font-size:14px;
    font-weight:900;
    padding:0 .3rem .1rem;
    flex-shrink:0;
    margin-right:.5rem;
  }
  .mod-comment {
    font-size:14px;
  }
  .stud-container {
    break-inside: avoid;
    page-break-inside: avoid;
    width: 100%;
    border-bottom:2px dashed #000;
    border-radius:0;
    .stud-wrapper {
      border:none;
      background:white !important;
      color:#000 !important;
      border-radius:0;
      .stud {
        color:#000 !important;
        .badge {
          border:none;
          font-weight:700;
        }
        .valeur {
          font-size:24px;
        }
        
      }
    }
  }
  .comment-general {
    h1, h2, h3, h4 {
      font-size:18px;
      font-weight:600;
    }
  }
  .totaux > div.total-general {
    color:#000000 !important;
  }
}

