<template>
    <section>
        <nav>
            <a href="/">
                B1
            </a>
            <a href="/b2">
                B2
            </a>
        </nav>
    </section>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>