<template>
    <div class="studmodal">
        <div class="studmodal-content">
            <h2 class="d-flex">{{stud.nom}} {{stud.prenom}}<span class="flex-grow-1"></span><i class="material-icons" @click="studmodalOpen = !studmodalOpen, $nuxt.$emit('modal-closed')">clear</i></h2>
                <div class="cursus">
                <span class="badge">{{ annee }}</span>
                <span v-if="quadri == 'Q1'" class="badge badge-warning">Q1</span>
                <span v-if="quadri == 'Q2'" class="badge badge-info">Q2</span>
                <span class="badge">{{ atelier }}</span>
                <span class="badge">{{ professeur }}</span>
                <span class="material-icons ml-2 comment-icon" title="Des commentaires ont été rédigés pour cet.te étudiant.e"  @click="studmodalOpen = !studmodalOpen, $nuxt.$emit('modal-open')" v-if="commentGeneral || commentVector || commentBitmap || commentINDD || commentPleniere || commentWorkshop">message</span>
            </div>
            <div class="d-flex flex-column w-100 flex-wrap" v-if="commentGeneral || commentVector || commentBitmap || commentINDD || commentWorkshop || commentPleniere">
                <h3 class="mb-2">Commentaires</h3>
                <div class="mod-comment" v-if="commentGeneral">
                    <div class="comment-general d-flex">
                        <span class="material-icons mr-2">looks_one</span>
                        {{ commentGeneral }}
                    </div>
                </div>
                <div class="mod-comment" v-if="commentVector">
                    <div class="comment-general d-flex">
                        <span class="material-icons mr-2">looks_two</span>
                        {{ commentVector }}
                    </div>
                </div>
                
                <div class="mod-comment" v-if="commentBitmap">
                    <div class="comment-general d-flex">
                        <span class="material-icons mr-2">looks_3</span>
                        {{ commentBitmap }}
                    </div>
                </div>
                <div class="mod-comment" v-if="commentINDD">
                    <div class="comment-general d-flex">
                        <span class="material-icons mr-2">looks_4</span>
                        {{ commentINDD }}
                    </div>
                </div>
                <div class="mod-comment" v-if="commentWorkshop">
                    <div class="comment-general d-flex">
                        <span class="material-icons mr-2">looks_5</span>
                        {{ commentWorkshop }}
                    </div>
                </div>
                <div class="mod-comment" v-if="commentPleniere">
                    <div class="comment-general d-flex">
                        <span class="material-icons mr-2">looks_6</span>
                        {{ commentPleniere }}
                    </div>
                </div>
            </div>
            <h3>Exercices hebdomadaires</h3>
            <div class="d-flex w-100 flex-wrap">
                <div class="mod-cotes">
                    <h4>Dessin vectoriel</h4>
                    <div class="mod-cote" :class="{nonremis: vector1 == 0}">
                        <span class="cote-item">Vectoriel 1</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ vector1 }}</span>
                    </div>
                    <div class="mod-cote" :class="{nonremis: vector2 == 0}">
                        <span class="cote-item">Vectoriel 2</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ vector2 }}</span>
                    </div>
                    <div class="mod-cote" :class="{nonremis: vector3 == 0}">
                        <span class="cote-item">Vectoriel 3</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ vector3 }}</span>
                    </div>
                    <div class="mod-cote" :class="{nonremis: vector4 == 0}">
                        <span class="cote-item">Vectoriel 4</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ vector4 }}</span>
                    </div>
                    <div class="mod-cote" :class="{nonremis: vector5 == 0}">
                        <span class="cote-item">Vectoriel 5</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ vector5 }}</span>
                    </div>
                    <div class="mod-cote">
                        <span class="cote-item">Vectoriel Bonus</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ vectorBonus }}</span>
                    </div>
                </div>
                <div class="mod-cotes">
                    <h4>Manipulation d'images</h4>
                    <div class="mod-cote">
                        <span class="cote-item">Bitmap 1</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ bitmap1 }}</span>
                    </div>
                    <div class="mod-cote">
                        <span class="cote-item">Bitmap 2</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ bitmap2 }}</span>
                    </div>
                    <div class="mod-cote">
                        <span class="cote-item">Bitmap 3</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ bitmap3 }}</span>
                    </div>
                    <div class="mod-cote">
                        <span class="cote-item">Bitmap 4</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ bitmap4 }}</span>
                    </div>
                    <div class="mod-cote">
                        <span class="cote-item">Bitmap 5</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ bitmap5 }}</span>
                    </div>
                    <div class="mod-cote">
                        <span class="cote-item">Bitmap Bonus</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ bitmapBonus }}</span>
                    </div>
                </div>
                <div class="mod-cotes">
                    <h4>Mise en page</h4>
                    <div class="mod-cote">
                        <span class="cote-item">Mise en page</span>
                        <span class="cote-dash">
                            <i></i>
                        </span>
                        <span class="cote-nbr">{{ indd1 }}</span>
                    </div>
                </div>
            </div>
            <h3>Travaux artistiques</h3>
            <div class="d-flex w-100 flex-wrap">
                <div class="mod-cotes">
                    <div class="cote-art">
                        <h4>Cartographie</h4>
                        <div class="mod-cote">
                            <span class="cote-item">Consignes et formats</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">3</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Inventivité technique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">4.5</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Conception artistique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">7</span>
                        </div>
                    </div>
                </div>
                <div class="mod-cotes">
                    <div class="cote-art">
                        <h4>Postcard from nowhere</h4>
                        <div class="mod-cote">
                            <span class="cote-item">Consignes et formats</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">3</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Inventivité technique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">4.5</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Conception artistique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">7</span>
                        </div>
                    </div>
                </div>
                <div class="mod-cotes">
                    <div class="cote-art">
                        <h4>Fold/Unfold</h4>
                        <div class="mod-cote">
                            <span class="cote-item">Consignes et formats</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">3</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Inventivité technique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">4.5</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Conception artistique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            stud: Object
        }
    }
</script>

<style lang="scss" scoped>

</style>