 <template>   
    <div>
        <td>{{ nom }}</td>
        <td>{{ prenom }}</td>
        <td>{{ atelier }}</td>
        <td>{{ superTotal() }}</td>
    </div>
 </template>  

<script>
    export default {
        props: {
            id: Number,
            title: String,
            slug: String,
            categories: Array,
            status: String,
            photo: String,
            nom: String,
            prenom: String,
            annee: String,
            horsliste: Boolean,
            anneereelle: Number,
            quadri: String,
            professeur: String,
            atelier: String,
            commentGeneral: String,
            presences_prises: Number,
            presences_total: Number,
            xr6_rendus: Number,
            xr6_donnes: Number,
            totalExercices: Number,
            workshop: Number,
            pleniere: Number,
            commentWorkshop: String,
            commentPleniere: String,
            vector1: Number,
            vector2: Number,
            vector3: Number,
            vector4: Number,
            vector5: Number,
            vectorBonus: Number,
            commentVector: String,
            carto1: Number,
            carto2: Number,
            carto3: Number,
            cartostatic: Number,
            bitmap1: Number,
            bitmap2: Number,
            bitmap3: Number,
            bitmap4: Number,
            bitmap5: Number,
            bitmapBonus: Number,
            postal1: Number,
            postal2: Number,
            postal3: Number,
            postalstatic: Number,
            commentBitmap: String,
            indd1: Number,
            fold1: Number,
            fold2: Number,
            fold3: Number,
            foldstatic: Number,
            commentINDD: String,
            ponderation_exercices: String,
            ponderation_carto: String,
            ponderation_postal: String,
            ponderation_fold: String,
            ponderation_pleniere: String,
            ponderation_workshop: String
        },
        data() {
            return {
                studmodalOpen: false
            }
        },
        computed: {
            presencesTotal: function() {
                let presencesTotal =
                this.presences_total;
                return presencesTotal
            },
            exercicesTotal: function () {
                let total = 
                this.vector1 
                + this.vector2 
                + this.vector3
                + this.vector4
                + this.vector5
                + this.vectorBonus
                + this.bitmap1
                + this.bitmap2
                + this.bitmap3
                + this.bitmap4
                + this.bitmap5
                + this.bitmapBonus
                + this.indd1;
                return ((total/this.totalExercices)*30).toFixed(1)
            },
            cartoTotal: function () {
                let cartototal = 
                this.carto1 
                + this.carto2 
                + this.carto3;
                return ((cartototal/20)*15).toFixed(1)
            },
            postalTotal: function () {
                let postaltotal = 
                this.postal1 
                + this.postal2 
                + this.postal3;
                return ((postaltotal/20)*15).toFixed(1)
            },
            foldTotal: function () {
                let foldtotal = 
                this.fold1 
                + this.fold2 
                + this.fold3;
                return ((foldtotal/20)*20).toFixed(1)
            },
            wkTotal: function () {
                let wktotal =
                this.workshop;
                return ((wktotal/10)*10).toFixed(1)
            },
            pleniereTotal: function () {
                let plenieretotal =
                this.pleniere;
                return ((plenieretotal/20)*20).toFixed(1)
            }
        },
        methods: {
            superTotal: function() {
                let supertotal = 
                Number(this.exercicesTotal) +
                Number(this.cartoTotal) +
                Number(this.postalTotal) + 
                Number(this.foldTotal)+
                Number(this.wkTotal) +
                Number(this.pleniereTotal);
                return (supertotal/5).toFixed(1)
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>