<template>
    <div>
        <td>{{ nom }}</td>
        <td>{{ prenom }}</td>
        <td>{{ atelier }}</td>
        <td>{{ presences_prises }}</td>
        <td>{{ presences_total }}</td>
        <td>{{ xr6_rendus }}</td>
        <td>{{ xr6_donnes }}</td>
        <td>{{ superTotal() }}</td>
    </div>
</template>

<script>
    export default {
        props: {
            id: Number,
            title: String,
            slug: String,
            categories: Array,
            status: String,
            photo: String,
            nom: String,
            prenom: String,
            annee: String,
            anneereelle: Number,
            quadri: String,
            professeur: String,
            atelier: String,
            commentGeneral: String,
            presences_prises: Number,
            presences_total: Number,
            xr6_rendus: Number,
            xr6_donnes: Number,
            totalExercices: Number,
            ex1: Number,
            ex1url: String,
            ex1comment: String,
            ex2: Number,
            ex2url: String,
            ex2comment: String,
            ex3: Number,
            ex3url: String,
            ex3comment: String,
            ex4: Number,
            ex4url: String,
            ex4comment: String,
            ex5: Number,
            ex5url: String,
            ex5comment: String,
            ex6: Number,
            ex6url: String,
            ex6comment: String,
            ex7: Number,
            ex7url: String,
            ex7comment: String,
            geo1: Number,
            geo2: Number,
            geo3: Number,
            geourl: String,
            commentGeo: String
            //ponderationExercices: Number
        },
        data() {
            return {
                studmodal2Open: false
            }
        },
        computed: {
            presencesTotal: function() {
                let presencesTotal =
                this.presences_total;
                return presencesTotal
            },
            exercicesTotal: function () {
                let total = 
                this.ex1 
                + this.ex2 
                + this.ex3
                + this.ex4
                + this.ex5
                + this.ex6
                + this.ex7
                return ((total/this.totalExercices)*70).toFixed(1)
            },
            geoTotal: function () {
                let geototal = 
                this.geo1 
                + this.geo2 
                + this.geo3;
                return ((geototal/20)*30).toFixed(1)
            }
        },
        methods: {
            superTotal: function() {
                let supertotal = 
                Number(this.exercicesTotal) +
                Number(this.geoTotal);
                return (supertotal/5).toFixed(1)
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>