<template>
    <div class="stud-wrapper" :class="{isEchec: superTotal() < 10}">
        <div class="stud d-flex">
            <div class="img-container" v-if="photo">
                <img class="stud-thumb" :src="photo" alt="">
                <span class="material-icons">check_circle</span>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <h2 class="stud-name d-flex">
                    <strong class="mr-2" v-if="nom">{{ nom }}</strong>
                    <span class="mr-2" v-if="prenom">{{ prenom }}</span>
                    <strong class="mr-2" v-if="!nom">{{ title }}</strong>
                    <div class="totaux flex-grow-1 justify-content-end">
                        <div class="total-general">
                            <span :class="{rouge: superTotal() < 10}">{{ superTotal() }}</span>
                        </div>
                    </div>
                </h2>
                <div class="cursus">
                    <span class="badge">{{ annee }}</span>
                    <span class="badge badge-black mr-1" v-if="categories.includes('2T')">2T</span>
                    <span class="badge badge-black mr-1" v-if="anneereelle == 12">3T</span>
                    <span v-if="quadri == 'Q1'" class="badge badge-warning">Q1</span>
                    <span v-if="quadri == 'Q2'" class="badge badge-info">Q2</span>
                    <span class="badge">{{ atelier }}</span>
                    <span class="badge">{{ professeur }}</span>
                    <span class="material-icons ml-2 comment-icon" title="Des commentaires ont été rédigés pour cet.te étudiant.e"  @click="studmodal2Open = !studmodal2Open, $nuxt.$emit('modal2-open')" v-if="commentGeneral || commentGeo">message</span>
                </div>
                <div class="moyennes d-flex flex-grow-1 pt-3 pb-4">
                    <div class="d-flex flex-column moy-presences">
                        <span class="label">Prés.</span>
                        <span class="valeur" :class="{ rouge: presences_prises < (presences_total/2) && presences_prises != 0}">{{ presences_prises }}</span>
                        <span class="diviseur">{{ presences_total }}</span>
                    </div>
                    <div class="d-flex flex-column moy-rendus">
                        <span class="label">Reçus</span>
                        <span class="valeur" :class="{ rouge: xr6_rendus < (xr6_donnes/2) && xr6_rendus != 0}">{{ xr6_rendus }}</span>
                        <span class="diviseur">{{ xr6_donnes }}</span>
                    </div>
                    <div class="d-flex flex-column moy-exercices">
                        <span class="label">XR6</span>
                        <span class="valeur fat"  :class="{ rouge: exercicesTotal < (35/2) && xr6_rendus != 0}" v-if="exercicesTotal != 0">{{ exercicesTotal }}</span>
                        <span class="valeur fat" v-if="exercicesTotal == 0">0</span>
                        <span class="diviseur">70</span>
                    </div>
                    <div class="d-flex flex-column moy-fold">
                        <span class="label">GeoNet</span>
                        <span class="valeur fat" v-if="geoTotal != 0" :class="{ rouge: geoTotal < 15 && geoTotal != 0}">{{ geoTotal }} 
                        </span>
                        <span class="valeur fat" v-if="geoTotal == 0">0</span>
                        <span class="diviseur">30</span>
                    </div>
                    <div class="d-flex flex-column moy-exercices" v-if="geourl">
                        <span class="valeur fat">
                            <a :href="geourl" target="_blank" :title="commentGeo">
                                <span class="material-icons ml-2 url-icon">near_me</span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="details-cotes d-flex align-items-center mb-3">
                    <a :href="ex1url" target="_blank" :title="ex1comment" :class="{ 'rouge': ex1 < 2.5 }" class="evalex"><span>Page</span>{{ex1}}</a>
                    <a :href="ex2url" target="_blank" :title="ex2comment" :class="{ 'rouge': ex2 < 2.5 }" class="evalex"><span>Site</span>{{ex2}}</a>
                    <a :href="ex3url" target="_blank" :title="ex3comment" :class="{ 'rouge': ex3 < 2.5 }" class="evalex"><span>Style</span>{{ex3}}</a>
                    <a :href="ex4url" target="_blank" :title="ex4comment" :class="{ 'rouge': ex4 < 2.5 }" class="evalex"><span>Flex</span>{{ex4}}</a>
                    <a :href="ex5url" target="_blank" :title="ex5comment" :class="{ 'rouge': ex5 < 2.5 }" class="evalex"><span>Templ</span>{{ex5}}</a>
                    <a :href="ex6url" target="_blank" :title="ex6comment" :class="{ 'rouge': ex6 < 2.5 }" class="evalex"><span>AlberCSS</span>{{ex6}}</a>
                    <a :href="ex7url" target="_blank" :title="ex7comment" :class="{ 'rouge': ex7 < 2.5 }" class="evalex"><span>Gallery</span>{{ex7}}</a>
                </div>
            </div>
        </div>
        <div class="post-content">
            <p class="comment" v-if="commentGeneral">{{ commentGeneral }}</p>  
        </div>
        <div class="stud-buttons d-flex justify-content-center w-100">
            <span class="modif-button" @click="studmodal2Open = !studmodal2Open, $nuxt.$emit('modal2-open')" >Détails</span>
            <a class="modif-button" :href="'https://adminlac.be/wp-admin/post.php?post='+id+'&action=edit'" target="_blank">Modifier</a>
        </div>
        <!-- MODAL -->
        <div class="studmodal" v-if="studmodal2Open">
            <div class="studmodal-content">
                <h2 class="d-flex">{{nom}} {{prenom}}<span class="flex-grow-1"></span><i class="material-icons" @click="studmodal2Open = !studmodal2Open, $nuxt.$emit('modal2-closed')">clear</i></h2>
                 <div class="cursus">
                    <span class="badge">{{ annee }}</span>
                    <span v-if="quadri == 'Q1'" class="badge badge-warning">Q1</span>
                    <span v-if="quadri == 'Q2'" class="badge badge-info">Q2</span>
                    <span class="badge">{{ atelier }}</span>
                    <span class="badge">{{ professeur }}</span>
                    <span class="material-icons ml-2 comment-icon" title="Des commentaires ont été rédigés pour cet.te étudiant.e"  @click="studmodal2Open = !studmodal2Open, $nuxt.$emit('modal2-open')" v-if="commentGeneral || commentVector || commentBitmap || commentINDD || commentPleniere || commentWorkshop">message</span>
                </div>
                <div class="d-flex flex-column w-100 flex-wrap" v-if="commentGeneral || commentGeo">
                <h3 class="mb-2">Commentaires</h3>
                <div class="mod-comment" v-if="commentGeneral">
                    <div class="comment-general d-flex" >
                        <span class="material-icons mr-2">looks_one</span>
                        {{ commentGeneral }}
                    </div>
                </div>
                <div class="mod-comment w-100" v-if="commentGeo">
                    <div class="comment-geo w-100" v-html="commentGeo">
                        
                      
                    </div>
                </div>
                <h3>Travaux artistiques</h3>
                <div class="d-flex w-100 flex-wrap">
                <div class="mod-cotes">
                    <div class="cote-art">
                        <h4>GeoNetart</h4>
                        <div class="mod-cote">
                            <span class="cote-item">Consignes et formats</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">3</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Inventivité technique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">4.5</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Conception artistique</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">7</span>
                        </div>
                    </div>
                
                </div>
                </div>
                </div>
                
            </div>
            
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: Number,
            title: String,
            slug: String,
            categories: Array,
            status: String,
            photo: String,
            nom: String,
            prenom: String,
            annee: String,
            anneereelle: Number,
            quadri: String,
            professeur: String,
            atelier: String,
            commentGeneral: String,
            presences_prises: Number,
            presences_total: Number,
            xr6_rendus: Number,
            xr6_donnes: Number,
            totalExercices: Number,
            ex1: Number,
            ex1url: String,
            ex1comment: String,
            ex2: Number,
            ex2url: String,
            ex2comment: String,
            ex3: Number,
            ex3url: String,
            ex3comment: String,
            ex4: Number,
            ex4url: String,
            ex4comment: String,
            ex5: Number,
            ex5url: String,
            ex5comment: String,
            ex6: Number,
            ex6url: String,
            ex6comment: String,
            ex7: Number,
            ex7url: String,
            ex7comment: String,
            geo1: Number,
            geo2: Number,
            geo3: Number,
            geourl: String,
            commentGeo: String
            //ponderationExercices: Number
        },
        data() {
            return {
                studmodal2Open: false
            }
        },
        computed: {
            presencesTotal: function() {
                let presencesTotal =
                this.presences_total;
                return presencesTotal
            },
            exercicesTotal: function () {
                let total = 
                this.ex1 
                + this.ex2 
                + this.ex3
                + this.ex4
                + this.ex5
                + this.ex6
                + this.ex7
                return ((total/this.totalExercices)*70).toFixed(1)
            },
            geoTotal: function () {
                let geototal = 
                this.geo1 
                + this.geo2 
                + this.geo3;
                return ((geototal/20)*30).toFixed(1)
            }
        },
        methods: {
            superTotal: function() {
                let supertotal = 
                Number(this.exercicesTotal) +
                Number(this.geoTotal);
                return (supertotal/5).toFixed(1)
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>