<template>
    <div class="stud-wrapper" :class="{isEchec: superTotal() < 10 && status=='OK', isEchec: superTotal() < 10  && status!='Néant' && status!='isDispense'}">
        <div class="stud d-flex">
            <div class="img-container" v-if="photo">
                <img class="stud-thumb" :src="photo" alt="">
                <span class="material-icons">check_circle</span>
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <h2 class="stud-name d-flex">
                    <strong class="mr-2" v-if="nom">{{ nom }}</strong>
                    <span class="mr-2" v-if="prenom">{{ prenom }}</span>
                    <strong class="mr-2" v-if="!nom">{{ title }}</strong>
                    <div class="totaux flex-grow-1 justify-content-end">
                        <div class="total-general">
                            <span :class="{rouge: superTotal() < 6 && status!='OK', rouge: superTotal() < 10 && status=='OK'}">{{ superTotal() }}</span>
                        </div>
                    </div>
                </h2>
                <div class="cursus">
                    <span class="badge">{{ annee }}</span>
                    <span class="badge badge-black mr-1" v-if="categories.includes('2T')">2T</span>
                    <span class="badge badge-black mr-1" v-if="anneereelle == 12">3T</span>
                    <span v-if="quadri == 'Q1'" class="badge badge-warning">Q1</span>
                    <span v-if="quadri == 'Q2'" class="badge badge-info">Q2</span>
                    <span class="badge">{{ atelier }}</span>
                    <span class="badge">{{ professeur }}</span>
                    <span class="material-icons ml-2 comment-icon" title="Des commentaires ont été rédigés pour cet.te étudiant.e"  @click="studmodalOpen = !studmodalOpen, $nuxt.$emit('modal-open')" v-if="commentGeneral || commentVector || commentBitmap || commentINDD || commentPleniere || commentWorkshop">message</span>
                </div>
                <div class="moyennes d-flex flex-grow-1 pt-3 pb-4">
                    <div class="d-flex flex-column moy-presences">
                        <span class="label">Prés.</span>
                        <span class="valeur" :class="{ rouge: presences_prises < (presences_total/2) && presences_prises != 0}">{{ presences_prises }}</span>
                        <span class="diviseur">{{ presences_total }}</span>
                    </div>
                    <div class="d-flex flex-column moy-rendus">
                        <span class="label">Reçus</span>
                        <span class="valeur" :class="{ rouge: xr6_rendus < (xr6_donnes/2) && xr6_rendus != 0}">{{ xr6_rendus }}</span>
                        <span class="diviseur">{{ xr6_donnes }}</span>
                    </div>
                    <div class="d-flex flex-column moy-exercices">
                        <span class="label">XR6</span>
                        <span class="valeur fat"  :class="{ rouge: exercicesTotal < (30/2) && xr6_rendus != 0}" v-if="exercicesTotal != 0">{{ exercicesTotal }}</span>
                        <span class="valeur fat" v-if="exercicesTotal == 0">0</span>
                        <span class="diviseur">30</span>
                    </div>
                    <div class="d-flex flex-column moy-carto">
                        <span class="label">Carto</span>
                        <span class="valeur fat" v-if="cartoTotal != 0":class="{ rouge: cartoTotal < 7.5 && cartoTotal != 0}">{{ cartoTotal }}</span>
                        <span class="valeur fat" v-if="cartoTotal == 0">0</span>
                        <span class="diviseur">15</span>
                    </div>
                    <div class="d-flex flex-column moy-postale">
                        <span class="label">Post</span>
                        <span class="valeur fat" v-if="postalTotal != 0" :class="{ rouge: postalTotal < 7.5 && postalTotal != 0}">{{ postalTotal }}</span>
                        <span class="valeur fat" v-if="postalTotal == 0">0</span>
                        <span class="diviseur">15</span>
                    </div>
                    <div class="d-flex flex-column moy-fold">
                        <span class="label">Fold</span>
                        <span class="valeur fat" v-if="foldTotal != 0" :class="{ rouge: foldTotal < 10 && foldTotal != 0}">{{ foldTotal }}</span>
                        <span class="valeur fat" v-if="foldTotal == 0">0</span>
                        <span class="diviseur">20</span>
                    </div>
                    <div class="d-flex flex-column moy-work">
                        <span class="label">Wrkshp</span>
                        <span  class="valeur fat" :class="{ rouge: wkTotal < 5}" v-if="wkTotal != 0">{{ wkTotal }}</span>
                        <span class="valeur fat" v-if="wkTotal == 0">0</span>
                        <span class="diviseur">10</span>
                    </div>
                    <div class="d-flex flex-column moy-work">
                        <span class="label">Plén.</span>
                        <span class="valeur fat" v-if="pleniereTotal != 0" :class="{ rouge: pleniereTotal < 5 && pleniereTotal != 0}">{{ pleniereTotal }}</span>
                        <span class="valeur fat" v-if="pleniereTotal == 0">0</span>
                        <span class="diviseur">10</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-content">
            <p class="comment" v-if="commentGeneral">{{ commentGeneral }}</p>  
        </div>
        <div class="stud-buttons d-flex justify-content-center w-100">
            <span class="modif-button" @click="studmodalOpen = !studmodalOpen, $nuxt.$emit('modal-open')" >Détails</span>
            <a class="modif-button" :href="'https://adminlac.be/wp-admin/post.php?post='+id+'&action=edit'" target="_blank">Modifier</a>
        </div>
        <!-- MODAL -->
        <div class="studmodal" v-if="studmodalOpen">
            <div class="studmodal-content">
                <div class="d-flex align-items-start">
                    
                    <h2 class="d-flex flex-grow-1">{{nom}} {{prenom}}</h2>
                    <div class="total-general d-flex justify-content-end align-items-center">
                        <span :class="{rouge: superTotal() < 10}">{{ superTotal() }}</span>
                        <span></span><i class="material-icons" @click="studmodalOpen = !studmodalOpen, $nuxt.$emit('modal-closed')">clear</i>
                    </div>
                </div>
                
                    
                    
                
                 <div class="cursus">
                    <span class="badge">{{ annee }}</span>
                    <span v-if="quadri == 'Q1'" class="badge badge-warning">Q1</span>
                    <span v-if="quadri == 'Q2'" class="badge badge-info">Q2</span>
                    <span class="badge">{{ atelier }}</span>
                    <span class="badge">{{ professeur }}</span>
                    
                </div>
                <div class="d-flex flex-column w-100 flex-wrap" v-if="commentGeneral || commentVector || commentBitmap || commentINDD || commentWorkshop || commentPleniere">
                    <h3 class="mb-2">Commentaires</h3>
                    <div class="mod-comment" v-if="commentGeneral">
                        <div class="comment-general d-flex">
                            <span class="material-icons mr-2">looks_one</span>
                            {{ commentGeneral }}
                        </div>
                    </div>
                    <div class="mod-comment" v-if="commentVector">
                        <div class="comment-general d-flex">
                            <span class="material-icons mr-2">looks_two</span>
                            {{ commentVector }}
                        </div>
                    </div>
                    
                    <div class="mod-comment" v-if="commentBitmap">
                        <div class="comment-general d-flex">
                            <span class="material-icons mr-2">looks_3</span>
                            {{ commentBitmap }}
                        </div>
                    </div>
                    <div class="mod-comment" v-if="commentINDD">
                        <div class="comment-general d-flex">
                            <span class="material-icons mr-2">looks_4</span>
                            {{ commentINDD }}
                        </div>
                    </div>
                    <div class="mod-comment" v-if="commentWorkshop">
                        <div class="comment-general d-flex">
                            <span class="material-icons mr-2">looks_5</span>
                            {{ commentWorkshop }}
                        </div>
                    </div>
                    <div class="mod-comment" v-if="commentPleniere">
                        <div class="comment-general d-flex">
                            <span class="material-icons mr-2">looks_6</span>
                            {{ commentPleniere }}
                        </div>
                    </div>
                    <h3 class="mb-2" v-if="commentaireGeneral">Autres commentaires et emails</h3>
                    <div class="mod-comment" v-if="commentaireGeneral">

                        <div class="commentaire-general d-flex flex-column" v-html="commentaireGeneral">
                            
                        </div>
                    </div>
                </div>
                
                <h3>Spécifiques</h3>
                <div class="d-flex w-100 flex-wrap">
                    <div class="mod-cotes">
                        <div class="mod-cote" :class="{nonremis: vector1 == 0}">
                            <span class="cote-item">Workshop</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ workshop }}/ {{ponderation_workshop}}</span>
                        </div>
                        <div class="mod-cote" :class="{nonremis: vector2 == 0}">
                            <span class="cote-item">Plénière</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ pleniere }}/ {{ponderation_pleniere}}</span>
                        </div>
                    </div>
                </div>
                <h3>Travaux artistiques</h3>
                <div class="d-flex w-100 flex-wrap">
                    <div class="mod-cotes">
                        <div class="cote-art">
                            <h4>
                                Cartographie
                                <span><strong>{{cartoTotal}}</strong> /<span class="pond">{{ponderation_carto}}</span></span>
                            </h4>
                            <div class="mod-cote">
                                <span class="cote-item">Consignes et formats</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ carto1 }}</span>
                            </div>
                            <div class="mod-cote">
                                <span class="cote-item">Inventivité technique</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ carto2 }}</span>
                            </div>
                            <div class="mod-cote">
                                <span class="cote-item">Conception artistique</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ carto3 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mod-cotes">
                        <div class="cote-art">
                            <h4>
                                Postcard
                               <span><strong>{{postalTotal}}</strong> <span class="pond">/{{ponderation_postal}}</span></span>
                            </h4>
                            <div class="mod-cote">
                                <span class="cote-item">Consignes et formats</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ postal1 }}</span>
                            </div>
                            <div class="mod-cote">
                                <span class="cote-item">Inventivité technique</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ postal2 }}</span>
                            </div>
                            <div class="mod-cote">
                                <span class="cote-item">Conception artistique</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ postal3 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mod-cotes">
                        <div class="cote-art">
                            <h4>Fold/Unfold
                                <span><strong>{{foldTotal}}</strong> <span class="pond">/{{ponderation_fold}}</span></span></h4>
                            <div class="mod-cote">
                                <span class="cote-item">Consignes et formats</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ fold1 }}</span>
                            </div>
                            <div class="mod-cote">
                                <span class="cote-item">Inventivité technique</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ fold2 }}</span>
                            </div>
                            <div class="mod-cote">
                                <span class="cote-item">Conception artistique</span>
                                <span class="cote-dash">
                                    <i></i>
                                </span>
                                <span class="cote-nbr">{{ fold3 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Exercices hebdomadaires
                    <span><strong>{{exercicesTotal}}</strong> <span class="pond">/{{ponderation_exercices}}</span></span>
                </h3>
                <div class="d-flex w-100 flex-wrap">
                    <div class="mod-cotes">
                        <h4>Dessin vectoriel</h4>
                        <div class="mod-cote" :class="{nonremis: vector1 == 0}">
                            <span class="cote-item">Vectoriel 1</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ vector1 }}</span>
                        </div>
                        <div class="mod-cote" :class="{nonremis: vector2 == 0}">
                            <span class="cote-item">Vectoriel 2</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ vector2 }}</span>
                        </div>
                        <div class="mod-cote" :class="{nonremis: vector3 == 0}">
                            <span class="cote-item">Vectoriel 3</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ vector3 }}</span>
                        </div>
                        <div class="mod-cote" :class="{nonremis: vector4 == 0}">
                            <span class="cote-item">Vectoriel 4</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ vector4 }}</span>
                        </div>
                        <div class="mod-cote" :class="{nonremis: vector5 == 0}">
                            <span class="cote-item">Vectoriel 5</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ vector5 }}</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Vectoriel Bonus</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ vectorBonus }}</span>
                        </div>
                    </div>
                    <div class="mod-cotes">
                        <h4>Manipulation d'images</h4>
                        <div class="mod-cote">
                            <span class="cote-item">Bitmap 1</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ bitmap1 }}</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Bitmap 2</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ bitmap2 }}</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Bitmap 3</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ bitmap3 }}</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Bitmap 4</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ bitmap4 }}</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Bitmap 5</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ bitmap5 }}</span>
                        </div>
                        <div class="mod-cote">
                            <span class="cote-item">Bitmap Bonus</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ bitmapBonus }}</span>
                        </div>
                    </div>
                    <div class="mod-cotes">
                        <h4>Mise en page</h4>
                        <div class="mod-cote mb-5">
                            <span class="cote-item">Mise en page</span>
                            <span class="cote-dash">
                                <i></i>
                            </span>
                            <span class="cote-nbr">{{ indd1 }}</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: Number,
            title: String,
            slug: String,
            categories: Array,
            status: String,
            photo: String,
            nom: String,
            prenom: String,
            annee: String,
            horsliste: Boolean,
            anneereelle: Number,
            quadri: String,
            professeur: String,
            atelier: String,
            commentGeneral: String,
            commentaireGeneral: String,
            presences_prises: Number,
            presences_total: Number,
            xr6_rendus: Number,
            xr6_donnes: Number,
            totalExercices: Number,
            workshop: Number,
            pleniere: Number,
            commentWorkshop: String,
            commentPleniere: String,
            vector1: Number,
            vector2: Number,
            vector3: Number,
            vector4: Number,
            vector5: Number,
            vectorBonus: Number,
            commentVector: String,
            carto1: Number,
            carto2: Number,
            carto3: Number,
            cartostatic: Number,
            bitmap1: Number,
            bitmap2: Number,
            bitmap3: Number,
            bitmap4: Number,
            bitmap5: Number,
            bitmapBonus: Number,
            postal1: Number,
            postal2: Number,
            postal3: Number,
            postalstatic: Number,
            commentBitmap: String,
            indd1: Number,
            fold1: Number,
            fold2: Number,
            fold3: Number,
            foldstatic: Number,
            commentINDD: String,
            ponderation_exercices: String,
            ponderation_carto: String,
            ponderation_postal: String,
            ponderation_fold: String,
            ponderation_pleniere: String,
            ponderation_workshop: String
        },
        data() {
            return {
                studmodalOpen: false
            }
        },
        computed: {
            presencesTotal: function() {
                let presencesTotal =
                this.presences_total;
                return presencesTotal
            },
            exercicesTotal: function () {
                let total = 
                this.vector1 
                + this.vector2 
                + this.vector3
                + this.vector4
                + this.vector5
                + this.vectorBonus
                + this.bitmap1
                + this.bitmap2
                + this.bitmap3
                + this.bitmap4
                + this.bitmap5
                + this.bitmapBonus
                + this.indd1;
                return ((total/this.totalExercices)*30).toFixed(1)
            },
            cartoTotal: function () {
                let cartototal = 
                this.carto1 
                + this.carto2 
                + this.carto3;
                return ((cartototal/20)*15).toFixed(1)
            },
            postalTotal: function () {
                let postaltotal = 
                this.postal1 
                + this.postal2 
                + this.postal3;
                return ((postaltotal/20)*15).toFixed(1)
            },
            foldTotal: function () {
                let foldtotal = 
                this.fold1 
                + this.fold2 
                + this.fold3;
                return ((foldtotal/20)*20).toFixed(1)
            },
            wkTotal: function () {
                let wktotal =
                this.workshop;
                return ((wktotal/10)*10).toFixed(1)
            },
            pleniereTotal: function () {
                let plenieretotal =
                this.pleniere;
                return ((plenieretotal/20)*20).toFixed(1)
            }
        },
        methods: {
            superTotal: function() {
                let supertotal = 
                Number(this.exercicesTotal) +
                Number(this.cartoTotal) +
                Number(this.postalTotal) + 
                Number(this.foldTotal)+
                Number(this.wkTotal) +
                Number(this.pleniereTotal);
                return (supertotal/5).toFixed(1)
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>