<template>
    <div class="wrapper">
      <nuxt/>
      
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
      
        fetch({ store }) {
            return axios.get('http://www.digitalab.be/wp-json/wp/v2/posts/?per_page=50').then((res) => {
                store.commit('frontPagePosts', res.data)
            }).catch((error) => {
                console.log(error)
            })
        },
        computed: {
            posts() {
                return this.$store.state.posts
            }
        },
       /* mounted: function() {
            $(window).scroll(function() {
            var top = $(this).scrollTop(),
            windowHeight = $(this).height();
            if (top > 200) {
                $(".back-to-top").addClass("active");
            } else {
                $(".back-to-top").removeClass("active");
            }
            });
            $('.back-to-top').click(function() { 
            $('body,html').animate({
                scrollTop : 0 
            }, 500);
            }); 
        }*/
    }
</script>

<style lang="scss" scoped>
.wrapper {
 
}
 
 
</style>
