<template>
    <div class="single-post">
        <h1 class="post-title mb-8">{{ post.title.rendered }}</h1>
        <div class="post-content" v-html="post.content.rendered"></div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                post: {}
            }
        },
        async asyncData({params, payload}) {
            if(payload) {
                return {
                    post: payload
                }
            } else {
                return axios.get('http://localhost:8888/admin-lacambre/wp-json/wp/v2/posts/' + params.id)
                    .then((res) => {
                        return {
                            post: res.data
                        }
                    })
            }
        }
    }
</script>

