<template>
    <section class="d-flex" :class="{ 
      showBAI: showBAI == true,
      showBESPA: showBESPA == true,
      showBGRAV: showBGRAV == true,
      showBPHOT: showBPHOT == true,
      showQ1: showQ1 == true,
      showQ2: showQ2 == true
      }">
      <main class="w-100">
       
        <section class="d-flex flex-column w-100">
          <div class="d-flex flex-column" id="students-search">
            <input type="search" v-model="search" placeholder="Recherche par nom" class="flex-grow-1 main-search">
            <div class="count d-none">
              {{ filteredPosts.length }} étudiant.e.s
            </div>
          </div>
          <div class="filter d-flex align-items-start justify-content-center">
            <nuxt-link to="/" class="d-flex btn-default btn m-2"><span class="material-icons mr-2">arrow_back</span>B1</nuxt-link>
            <div id="choixOptions" class="flex-grow-1">
              <div class="box select"><input type="checkbox" id="ALL" value="ALL" v-model="showALL" @click="
              showALL= true, 
              showNONE= false, 
              showBAI = true,
              showBESPA = true,
              showBGRAV = true,
              showBPHOT = true
              ">
                <label for="ALL">TOUS</label>
              </div>
              <div class="box deselect">
                <input type="checkbox" id="DESELECTALL" value="DESELECTALL" @click="
                showALL= false, 
                showNONE= true, 
                showBAI = false,
                showBESPA = false,
                showBGRAV = false,
                showBPHOT = false
                ">
                <label for="DESELECTALL">AUCUN</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BAI" value="BAI" v-model="showBAI">
                <label for="BAI">BAI</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BESPA" value="BESPA" v-model="showBESPA">
                <label for="BESPA">BESPA</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BGRAV" value="BGRAV" v-model="showBGRAV">
                <label for="BGRAV">BGRAV</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BPHOT" value="BPHOT" v-model="showBPHOT">
                <label for="BPHOT">BPHOT</label></div>
              </div>
            </div>
        </section>
        <section>
          <div class="posts d-flex flex-wrap">
            <div class="stud-container" v-for="item in filteredPosts" :key="item.slug" 
            :class="{BAI: item.acf.atelier == 'BAI',
              BESPA: item.acf.atelier == 'BESPA',
              BGRAV: item.acf.atelier == 'BGRAV',
              BPHOT: item.acf.atelier == 'BPHOT',
              Q1: item.acf.quadri == 'Q1',
              Q2: item.acf.quadri == 'Q2',
              isUptodate: item.acf.status == 'Up-to-date', 
              isOK: item.acf.status == 'OK', isCas: item.acf.status == 'Cas', 
              isNeant: item.acf.status == 'Néant', 
              isDepou: item.acf.status == 'Dépoussiéré',
              isDispense: item.acf.status == 'Dispense',
              }">
              
                <StudentB2 
                :id="item.id" 
                :slug="item.slug" 
                :categories="item.categories_names"
                :status="item.acf.status"
                :photo="item.featured_image_url"
                :title="item.title.rendered"
                :nom="item.acf.nom" 
                :prenom="item.acf.prenom"
                :atelier="item.acf.atelier"
                :annee="item.acf.annee"
                :anneereelle="item.categories[1]"
                :professeur="item.acf.professeur"
                :quadri="item.acf.quadri"
                :presences_prises=Number(item.acf.presences_prises)
                :presences_total=Number(item.acf.presences_total)
                :xr6_rendus=Number(item.acf.xr6_rendus)
                :xr6_donnes=Number(item.acf.xr6_donnes)
                :totalExercices="Number(item.acf.total_exercices_sur_)"
                :ex1=Number(item.acf.xr6_1)
                :ex1url=item.acf.xr6_1_url
                :ex1comment=item.acf.xr6_1_comment
                :ex2=Number(item.acf.xr6_2)
                :ex2url=item.acf.xr6_2_url
                :ex2comment=item.acf.xr6_2_comment
                :ex3=Number(item.acf.xr6_3)
                :ex3url=item.acf.xr6_3_url
                :ex3comment=item.acf.xr6_3_comment
                :ex4=Number(item.acf.xr6_4)
                :ex4url=item.acf.xr6_4_url
                :ex4comment=item.acf.xr6_4_comment
                :ex5=Number(item.acf.xr6_5)
                :ex5url=item.acf.xr6_5_url
                :ex5comment=item.acf.xr6_5_comment
                :ex6=Number(item.acf.xr6_6)
                :ex6url=item.acf.xr6_6_url
                :ex6comment=item.acf.xr6_6_comment
                :ex7=Number(item.acf.xr6_7)
                :ex7url=item.acf.xr6_7_url
                :ex7comment=item.acf.xr6_7_comment
                
                :geo1=Number(item.acf.geo_consignes)
                :geo2=Number(item.acf.geo_technique)
                :geo3=Number(item.acf.geo_artistique)
                :geourl="item.acf.geo_url"
                :commentGeneral="item.acf.comment_general"
                :commentGeo="item.acf.comment_geo"
                :ponderationExercices="item.acf.ponderation_exercices"
                :ponderationFold="item.acf.ponderation_fold"
                />
            </div>
          </div>
        </section>
    </main>
  </section>
</template>

<script>
    import axios from 'axios'
    import StudentB2 from "~/components/StudentB2"
    import MainMenu from "~/components/MainMenu"
    export default {
      components: {
        StudentB2,
        MainMenu
      },
      async asyncData({ query, error }) {
        let [postsList, catsList] = await Promise.all([
          axios.get('http://adminlac.be/wp-json/wp/v2/posts/?categories=4&orderby=slug&order=asc')
        ])
        return {
          posts: postsList.data
        }
      },
      created() {
        this.$nuxt.$on('modal-open', () => {
          this.modal2Open = true
        }),
        this.$nuxt.$on('modal-closed', () => {
          this.modal2Open = false
        })
      },
      data() {
        return {
          posts: [],
          search: '',
          currentOrder: 'atelier',
          selectedName: "",
          filterText: '',
          showState: false,
          showALL: true,
          showNONE: false,
          showBAI: true,
          showBESPA: true,
          showBGRAV: true,
          showBPHOT: true,
          showQ1: true,
          showQ2: true,
          modal2Open: false,
          count: Number,
          options: [
            "BAI",
            "BESPA",
            "BGRAV",
            "BPHOT",
          ]
        }
      },
      methods: {
        onScroll (e) {
          if (typeof window === 'undefined') return
          const top = window.pageYOffset ||   e.target.scrollTop || 0
          this.fab = top > 20
        },
        toTop () {
          this.$vuetify.goTo(0)
        }
      },
      computed: {
        filteredPosts: function() {
          return this.posts.filter((post) => {
            return post.slug.match(this.search)
          })
        }
      }
    }
</script>

<style lang="scss">

</style>
