<template>
    <section class="d-flex" :class="{ 
      showBAI: showBAI == true,
      showBESPA: showBESPA == true,
      showBGRAV: showBGRAV == true,
      showBPHOT: showBPHOT == true,
      showQ1: showQ1 == true,
      showQ2: showQ2 == true
      }">
      <main class="w-100">
        <section>
            <table>

            
                <tr class="stud-container" v-for="item in filteredPosts" :key="item.slug" >
                <StudentB2Table
                :id="item.id" 
                :slug="item.slug" 
                :categories="item.categories_names"
                :status="item.acf.status"
                :photo="item.featured_image_url"
                :title="item.title.rendered"
                :nom="item.acf.nom" 
                :prenom="item.acf.prenom"
                :atelier="item.acf.atelier"
                :annee="item.acf.annee"
                :anneereelle="item.categories[1]"
                :professeur="item.acf.professeur"
                :quadri="item.acf.quadri"
                :presences_prises=Number(item.acf.presences_prises)
                :presences_total=Number(item.acf.presences_total)
                :xr6_rendus=Number(item.acf.xr6_rendus)
                :xr6_donnes=Number(item.acf.xr6_donnes)
                :totalExercices="Number(item.acf.total_exercices_sur_)"
                :ex1=Number(item.acf.xr6_1)
                :ex1url=item.acf.xr6_1_url
                :ex1comment=item.acf.xr6_1_comment
                :ex2=Number(item.acf.xr6_2)
                :ex2url=item.acf.xr6_2_url
                :ex2comment=item.acf.xr6_2_comment
                :ex3=Number(item.acf.xr6_3)
                :ex3url=item.acf.xr6_3_url
                :ex3comment=item.acf.xr6_3_comment
                :ex4=Number(item.acf.xr6_4)
                :ex4url=item.acf.xr6_4_url
                :ex4comment=item.acf.xr6_4_comment
                :ex5=Number(item.acf.xr6_5)
                :ex5url=item.acf.xr6_5_url
                :ex5comment=item.acf.xr6_5_comment
                :ex6=Number(item.acf.xr6_6)
                :ex6url=item.acf.xr6_6_url
                :ex6comment=item.acf.xr6_6_comment
                :ex7=Number(item.acf.xr6_7)
                :ex7url=item.acf.xr6_7_url
                :ex7comment=item.acf.xr6_7_comment
                
                :geo1=Number(item.acf.geo_consignes)
                :geo2=Number(item.acf.geo_technique)
                :geo3=Number(item.acf.geo_artistique)
                :geourl="item.acf.geo_url"
                :commentGeneral="item.acf.comment_general"
                :commentGeo="item.acf.comment_geo"
                :ponderationExercices="item.acf.ponderation_exercices"
                :ponderationFold="item.acf.ponderation_fold"
                /></tr>
          </table>
        </section>
    </main>
  </section>
</template>

<script>
    import axios from 'axios'
    import StudentB2Table from "~/components/StudentB2Table"
    import MainMenu from "~/components/MainMenu"
    export default {
      components: {
        StudentB2Table,
        MainMenu
      },
      async asyncData({ query, error }) {
        let [postsList, catsList] = await Promise.all([
          axios.get('http://adminlac.be/wp-json/wp/v2/posts/?categories=4')
        ])
        return {
          posts: postsList.data
        }
      },
      created() {
        this.$nuxt.$on('modal-open', () => {
          this.modal2Open = true
        }),
        this.$nuxt.$on('modal-closed', () => {
          this.modal2Open = false
        })
      },
      data() {
        return {
          posts: [],
          search: '',
          currentOrder: 'atelier',
          selectedName: "",
          filterText: '',
          showState: false,
          showALL: true,
          showNONE: false,
          showBAI: true,
          showBESPA: true,
          showBGRAV: true,
          showBPHOT: true,
          showQ1: true,
          showQ2: true,
          modal2Open: false,
          count: Number,
          options: [
            "BAI",
            "BESPA",
            "BGRAV",
            "BPHOT",
          ]
        }
      },
      methods: {
        onScroll (e) {
          if (typeof window === 'undefined') return
          const top = window.pageYOffset ||   e.target.scrollTop || 0
          this.fab = top > 20
        },
        toTop () {
          this.$vuetify.goTo(0)
        }
      },
      computed: {
        filteredPosts: function() {
          return this.posts.filter((post) => {
            return post.slug.match(this.search)
          })
        }
      }
    }
</script>

<style lang="scss">

</style>
