<template>
    <section class="d-flex" :class="{ 
      showBAI: showBAI == true,
      showBCERA: showBCERA == true,
      showBCINE: showBCINE == true,
      showBCOM: showBCOM == true,
      showBCROA: showBCROA == true,
      showBDLP: showBDLP == true,
      showBDI: showBDI == true,
      showBDT: showBDT == true,
      showBDESS: showBDESS == true,
      showBESPA: showBESPA == true,
      showBGRAV: showBGRAV == true,
      showBPEIN: showBPEIN == true,
      showBPHOT: showBPHOT == true,
      showBSCEN: showBSCEN == true,
      showBSCUL: showBSCUL == true,
      showBSTYL: showBSTYL == true,
      showBTYPO: showBTYPO == true,
      showQ1: showQ1 == true,
      showQ2: showQ2 == true,
      modalisopen: modalOpen == true
      }">
      <main class="w-100">
        <section class="d-flex w-100">
          <div class="" id="students">
            <h3>Search a Movie: <input v-model="filterText" /></h3>
  <h3>Sort Movies by: 
    <button @click="sortLowest">Least Rated</button>
    <button @click="sortHighest">Most Rated</button>
  </h3>
            <div class="filter">
              <select class="d-none" v-model="currentOrder" name="" id="">
                <option value="atelier" default>Filtrer par atelier</option>
                <option value="nom">Nom</option>
                <option value="professeur">Professeur</option>
              </select>
              <select class="d-none" v-model="selectedAtelier" name="" id="">
                <option value="Tous les ateliers">Tous les ateliers</option>
                <option value="BAI">Architecture d'intérieur</option>
                <option value="BCERA">Céramique</option>
                <option value="BCINE">Cinéma d'animation</option>
                <option value="BCOM">Communication visuelle et graphique</option>
                <option value="BCROA">Conservation et restauration des oeuvres d'art</option>
                <option value="BDLP">Design du livre et du papier</option>
                <option value="BDI">Design industriel</option>
                <option value="BDT">Design textile</option>
                <option value="BDESS">Dessin</option>
                <option value="BESPA">Espace urbain</option>
                <option value="BGRAV">Gravure et image imprimée</option>
                <option value="BPEIN">Peinture</option>
                <option value="BPHOT">Photographie</option>
                <option value="BSCEN">Scénographie</option>
                <option value="BSCUL">Sculpture</option>
                <option value="BSTYL">Stylisme et création de mode</option>
                <option value="BTYPO">Typographie</option>
              </select>
              <div id="choixOptions">
                 <div class="box select"><input type="checkbox" id="ALL" value="ALL" v-model="showALL" @click="
showALL= true, 
showNONE= false, 
showBAI = true,
showBCERA = true,
showBCINE = true,
showBCOM = true,
showBCROA = true,
showBDLP = true,
showBDI = true,
showBDT = true,
showBDESS = true,
showBESPA = true,
showBGRAV = true,
showBPEIN = true,
showBPHOT = true,
showBSCEN = true,
showBSCUL = true,
showBSTYL = true,
showBTYPO = true
">
                <label for="ALL">ALL</label></div>
                <div class="box deselect"><input type="checkbox" id="DESELECTALL" value="DESELECTALL" @click="
showALL= false, 
showNONE= true, 
showBAI = false,
showBCERA = false,
showBCINE = false,
showBCOM = false,
showBCROA = false,
showBDLP = false,
showBDI = false,
showBDT = false,
showBDESS = false,
showBESPA = false,
showBGRAV = false,
showBPEIN = false,
showBPHOT = false,
showBSCEN = false,
showBSCUL = false,
showBSTYL = false,
showBTYPO = false
">
                <label for="DESELECTALL">DESELECT ALL</label></div>
                <div class="box" v-for="option in options">
                  <input type="checkbox" id="BAI" value="BAI" v-model="showBAI">
                  <label class="q1" for="BAI">BAI</label>
                </div>
                 <div class="box"><input type="checkbox" id="BAI" value="BAI" v-model="showBAI">
                <label class="q1" for="BAI">BAI</label></div>
                <div class="box q1"><input type="checkbox" id="BCERA" value="BCERA" v-model="showBCERA">
                <label for="BCERA">BCERA</label></div>
                <div class="box"><input type="checkbox" id="BCINE" value="BCINE" v-model="showBCINE">
                <label for="BCINE">BCINE</label></div>
                <div class="box q1"><input type="checkbox" id="BCOM" value="BCOM" v-model="showBCOM">
                <label for="BCOM">BCOM</label></div>
               <div class="box"> <input type="checkbox" id="BCROA" value="BCROA" v-model="showBCROA">
                <label for="BCROA">BCROA</label></div>
                <div class="box q1"><input type="checkbox" id="BDLP" value="BDLP" v-model="showBDLP">
                <label for="BDLP">BDLP</label></div>
                <div class="box q1"><input type="checkbox" id="BDI" value="BDI" v-model="showBDI">
                <label for="BDI">BDI</label></div>
                <div class="box q1"><input type="checkbox" id="BDT" value="BDT" v-model="showBDT">
                <label for="BDT">BDT</label></div>
                <div class="box"><input type="checkbox" id="BDESS" value="BDESS" v-model="showBDESS">
                <label for="BDESS">BDESS</label></div>
                <div class="box"><input type="checkbox" id="BESPA" value="BESPA" v-model="showBESPA">
                <label for="BESPA">BESPA</label></div>
                <div class="box q1"><input type="checkbox" id="BGRAV" value="BGRAV" v-model="showBGRAV">
                <label for="BGRAV">BGRAV</label></div>
                <div class="box"><input type="checkbox" id="BPEIN" value="BPEIN" v-model="showBPEIN">
                <label for="BPEIN">BPEIN</label></div>
                <div class="box q1"><input type="checkbox" id="BPHOT" value="BPHOT" v-model="showBPHOT">
                <label for="BPHOT">BPHOT</label></div>
                <div class="box q1"><input type="checkbox" id="BSCEN" value="BSCEN" v-model="showBSCEN">
                <label for="BSCEN">BSCEN</label></div>
                <div class="box"><input type="checkbox" id="BSCUL" value="BSCUL" v-model="showBSCUL">
                <label for="BSCUL">BSCUL</label></div>
                <div class="box"><input type="checkbox" id="BSTYL" value="BSTYL" v-model="showBSTYL">
                <label for="BSTYL">BSTYL</label></div>
                <div class="box q1"><input type="checkbox" id="BTYPO" value="BTYPO" v-model="showBTYPO">
                <label for="BTYPO">BTYPO</label></div>
              </div>
              <div id="choixQuadri">
                 <div class="box"><input type="checkbox" id="Q1" value="Q1" v-model="showQ1">
                <label for="Q1">Q1</label></div>
                <div class="box"><input type="checkbox" id="Q2" value="Q2" v-model="showQ2">
                <label for="Q2">Q2</label></div>
              </div>
            </div>
          </div>
          <div class="count">
            {{ posts.length }} étudiant.e.s
          </div>
        </section>
        <section>
          <div class="posts d-flex flex-wrap">
            <div class="stud-container" v-for="item in posts" :key="item.slug" :class="{ 
              BAI: item.acf.atelier == 'BAI',
              BCERA: item.acf.atelier == 'BCERA',
              BCINE: item.acf.atelier == 'BCINE',
              BCOM: item.acf.atelier == 'BCOM',
              BCROA: item.acf.atelier == 'BCROA',
              BDLP: item.acf.atelier == 'BDLP',
              BDI: item.acf.atelier == 'BDI',
              BDT: item.acf.atelier == 'BDT',
              BDESS: item.acf.atelier == 'BDESS',
              BESPA: item.acf.atelier == 'BESPA',
              BGRAV: item.acf.atelier == 'BGRAV',
              BPEIN: item.acf.atelier == 'BPEIN',
              BPHOT: item.acf.atelier == 'BPHOT',
              BSCEN: item.acf.atelier == 'BSCEN', 
              BSCUL: item.acf.atelier == 'BSCUL',
              BSTYL: item.acf.atelier == 'BSTYL',
              BTYPO: item.acf.atelier == 'BTYPO',
              Q1: item.acf.quadri == 'Q1',
              Q2: item.acf.quadri == 'Q2',
              isUptodate: item.acf.status == 'Up-to-date', 
              isOK: item.acf.status == 'OK', isCas: item.acf.status == 'Cas', 
              isNeant: item.acf.status == 'Néant', 
              isDepou: item.acf.status == 'Dépoussiéré',
              isDispense: item.acf.status == 'Dispense',
              }">
              
                <Student 
                :id="item.id" 
                :slug="item.slug" 
                :status="item.acf.status"
                :photo="item.featured_image_url"
                :title="item.title.rendered"
                :nom="item.acf.nom" 
                :prenom="item.acf.prenom"
                :atelier="item.acf.atelier"
                :annee="item.acf.annee"
                :professeur="item.acf.professeur"
                :quadri="item.acf.quadri"
                :presences_prises=Number(item.acf.presences_prises)
                :presences_total=Number(item.acf.presences_total)
                :xr6_rendus=Number(item.acf.xr6_rendus)
                :xr6_donnes=Number(item.acf.xr6_donnes)
                :totalExercices="Number(item.acf.total_exercices_sur_)"
                :vector1=Number(item.acf.vector_1)
                :vector2=Number(item.acf.vector_2)
                :vector3=Number(item.acf.vector_3)
                :vector4=Number(item.acf.vector_4)
                :vector5=Number(item.acf.vector_5)
                :vectorBonus=Number(item.acf.bonus_vector)
                :carto1=Number(item.acf.carto_consignes)
                :carto2=Number(item.acf.carto_technique)
                :carto3=Number(item.acf.carto_artistique)
                :bitmap1=Number(item.acf.bitmap_1)
                :bitmap2=Number(item.acf.bitmap_2)
                :bitmap3=Number(item.acf.bitmap_3)
                :bitmap4=Number(item.acf.bitmap_4)
                :bitmap5=Number(item.acf.bitmap_5)
                :bitmapBonus=Number(item.acf.bonus_bitmap)
                :postal1=Number(item.acf.postal_consignes)
                :postal2=Number(item.acf.postal_technique)
                :postal3=Number(item.acf.postal_artistique)
                :indd1=Number(item.acf.xr6_mep)
                :fold1=Number(item.acf.fold_consignes)
                :fold2=Number(item.acf.fold_technique)
                :fold3=Number(item.acf.fold_artistique)
                :workshop=Number(item.acf.workshop)
                :pleniere=Number(item.acf.pleniere)
                :commentVector="item.acf.commentaires_vectoriel"
                :commentBitmap="item.acf.commentaires_bitmap"
                :commentINDD="item.acf.commentaires_mise_en_page"
                :commentGeneral="item.acf.comment_general"
                :commentPleniere="item.acf.commentpleniere"
                :commentWorkshop="item.acf.commentworkshop"
                :ponderationExercices="item.acf.ponderation_exercices"
                
                :ponderationPostal="item.acf.ponderation_postal"
                :ponderationFold="item.acf.ponderation_fold"
                :ponderationWorkshop="item.acf.ponderation_workshop"
                :ponderationPleniere="item.acf.ponderation_pleniere"
                />
              

              
            </div>
          </div>
        </section>
    </main>
  </section>
</template>

<script>
    import axios from 'axios'
    import Student from "~/components/Student"
    import { ExportToCsv } from 'export-to-csv';
    export default {
      components: {
        Student
      },
      async asyncData({ query, error }) {
        let [postsList, catsList] = await Promise.all([
          axios.get('https://adminlac.be/wp-json/wp/v2/posts/'),
          axios.get('https://adminlac.be/wp-json/wp/v2/categories/?per_page=50'),
        ])
        return {
          posts: postsList.data,
          cats: catsList.data
        }
      },
      /*mounted() {
        $( ".stud" ).each(function( index ) {
          var vector1 = Number($('.vector_1'));
          var d = new Date();
var n = d.getSeconds();
        
          $('.stud-name').html(n);
          
        });
        
      },*/
      created() {
        this.$nuxt.$on('modal-open', () => {
          this.modalOpen = true
        }),
        this.$nuxt.$on('modal-closed', () => {
          this.modalOpen = false
        })
      },
      data() {
        return {
          posts: [],
          data: [
  {
    name: 'Test 1',
    age: 13,
    average: 8.2,
    approved: true,
    description: "using 'Content here, content here' "
  },
  {
    name: 'Test 2',
    age: 11,
    average: 8.2,
    approved: true,
    description: "using 'Content here, content here' "
  },
  {
    name: 'Test 4',
    age: 10,
    average: 8.2,
    approved: true,
    description: "using 'Content here, content here' "
  },
],
          currentOrder: 'atelier',
          selectedAtelier: "Tous les ateliers",
          selectedName: "",
          filterText: '',
          showALL: false,
          showNONE: false,
          showBAI: false,
          showBCERA: false,
          showBCINE: false,
          showBCOM: false,
          showBCROA: false,
          showBDLP: false,
          showBDI: false,
          showBDT: false,
          showBDESS: false,
          showBESPA: false,
          showBGRAV: false,
          showBPEIN: false,
          showBPHOT: false,
          showBSCEN: false,
          showBSCUL: false,
          showBSTYL: false,
          showBTYPO: false,
          showQ1: true,
          showQ2: true,
          modalOpen: false,
          count: Number,
          option: '',
          options: [
            {
              "name": "BAI",
              "quadri": "Q1"
            },
            "BAI",
            "BCERA",
            "BCINE",
            "BCOM",
            "BCROA",
            "BDLP",
            "BDI",
            "BDT",
            "BDESS",
            "BESPA",
            "BGRAV",
            "BPEIN",
            "BPHOT",
            "BSCEN",
            "BSCUL",
            "BSTYL",
            "BTYPO"
          ]
        }
      },
      methods: {
        sortLowest() {
          this.nom.sort((a,b) => a.nom > b.nom ? 1 : -1);
        },
        sortHighest() {
          this.nom.sort((a,b) => a.nom < b.nom ? 1 : -1);
        },

     
        
      },
      computed: {
        filteredStuds() {
            let filter = new RegExp(this.filterText, 'i')
            return this.nom.filter(el => el.nom.match(filter))
        },
        filteredStudents: function() {
          var etudiants = this;
          var atelier = etudiants.selectedAtelier;
          if(atelier === "Tous les ateliers") {
            return etudiants.posts;
          } else {
            return etudiants.posts.filter(function(post) {
              return post.acf.atelier === atelier;
            });
          }
        }
      }
    }
</script>

<style lang="scss">

</style>
