<template>
    <section class="d-flex" :class="{ 
      showBAI: showBAI == true,
      showBCERA: showBCERA == true,
      showBCINE: showBCINE == true,
      showBCOM: showBCOM == true,
      showBCROA: showBCROA == true,
      showBDLP: showBDLP == true,
      showBDI: showBDI == true,
      showBDT: showBDT == true,
      showBDESS: showBDESS == true,
      showBESPA: showBESPA == true,
      showBGRAV: showBGRAV == true,
      showBPEIN: showBPEIN == true,
      showBPHOT: showBPHOT == true,
      showBSCEN: showBSCEN == true,
      showBSCUL: showBSCUL == true,
      showBSTYL: showBSTYL == true,
      showBTYPO: showBTYPO == true,
      showQ1: showQ1 == true,
      showQ2: showQ2 == true,
      modalisopen: modalOpen == true,
      neantHidden: neantVisibility == false,
      q1Hidden: q1Visibility == false,
      horslisteHidden: horslisteVisibility == false
      }">
      <main class="w-100">

        <section class="d-flex flex-column w-100">
          <div class="d-flex flex-column" id="students-search">
            <input type="search" v-model="search" placeholder="Recherche par nom" class="flex-grow-1 main-search">
            <div class="count d-none">
              {{ filteredPosts.length }} étudiant.e.s
            </div>
          </div>
          <div class="showhide">
          <button :class="{pushed: neantVisibility == false}" @click="neantVisibility = !neantVisibility">
            <span v-if="neantVisibility == true">Masquer Néants</span>
            <span v-else>Afficher Néants</span>
          </button>
          <button :class="{pushed: q1Visibility == false}" @click="q1Visibility = !q1Visibility">
            <span v-if="q1Visibility == true">Masquer Q1</span>
            <span v-else>Afficher Q1</span>
          </button>
          <button :class="{pushed: horslisteVisibility == false}" @click="horslisteVisibility = !horslisteVisibility">
            <span v-if="horslisteVisibility == true">Masquer Hors liste</span>
            <span v-else>Afficher Hors liste</span>
          </button>
          </div>
          
          <div class="filter d-flex align-items-start">
            <div id="choixOptions">
              <div class="box select"><input type="checkbox" id="ALL" value="ALL" v-model="showALL" @click="
              showALL= true, 
              showNONE= false, 
              showBAI = true,
              showBCERA = true,
              showBCINE = true,
              showBCOM = true,
              showBCROA = true,
              showBDLP = true,
              showBDI = true,
              showBDT = true,
              showBDESS = true,
              showBESPA = true,
              showBGRAV = true,
              showBPEIN = true,
              showBPHOT = true,
              showBSCEN = true,
              showBSCUL = true,
              showBSTYL = true,
              showBTYPO = true
              ">
                <label for="ALL">TOUS</label>
              </div>
              <div class="box deselect">
                <input type="checkbox" id="DESELECTALL" value="DESELECTALL" @click="
                showALL= false, 
                showNONE= true, 
                showBAI = false,
                showBCERA = false,
                showBCINE = false,
                showBCOM = false,
                showBCROA = false,
                showBDLP = false,
                showBDI = false,
                showBDT = false,
                showBDESS = false,
                showBESPA = false,
                showBGRAV = false,
                showBPEIN = false,
                showBPHOT = false,
                showBSCEN = false,
                showBSCUL = false,
                showBSTYL = false,
                showBTYPO = false
                ">
                <label for="DESELECTALL">AUCUN</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BAI" value="BAI" v-model="showBAI">
                <label class="q1" for="BAI">BAI</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BCERA" value="BCERA" v-model="showBCERA">
                <label for="BCERA">BCERA</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BCINE" value="BCINE" v-model="showBCINE">
                <label for="BCINE">BCINE</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BCOM" value="BCOM" v-model="showBCOM">
                <label for="BCOM">BCOM</label></div>
                <div class="box"> <input type="checkbox" @click="showALL = false" id="BCROA" value="BCROA" v-model="showBCROA">
                <label for="BCROA">BCROA</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BDLP" value="BDLP" v-model="showBDLP">
                <label for="BDLP">BDLP</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BDI" value="BDI" v-model="showBDI">
                <label for="BDI">BDI</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BDT" value="BDT" v-model="showBDT">
                <label for="BDT">BDT</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BDESS" value="BDESS" v-model="showBDESS">
                <label for="BDESS">BDESS</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BESPA" value="BESPA" v-model="showBESPA">
                <label for="BESPA">BESPA</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BGRAV" value="BGRAV" v-model="showBGRAV">
                <label for="BGRAV">BGRAV</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BPEIN" value="BPEIN" v-model="showBPEIN">
                <label for="BPEIN">BPEIN</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BPHOT" value="BPHOT" v-model="showBPHOT">
                <label for="BPHOT">BPHOT</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BSCEN" value="BSCEN" v-model="showBSCEN">
                <label for="BSCEN">BSCEN</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BSCUL" value="BSCUL" v-model="showBSCUL">
                <label for="BSCUL">BSCUL</label></div>
                <div class="box"><input type="checkbox" @click="showALL = false" id="BSTYL" value="BSTYL" v-model="showBSTYL">
                <label for="BSTYL">BSTYL</label></div>
                <div class="box q1"><input type="checkbox" @click="showALL = false" id="BTYPO" value="BTYPO" v-model="showBTYPO">
                <label for="BTYPO">BTYPO</label></div>
              </div>
            <nuxt-link to="/b2" class="d-flex btn-default btn m-2">B2<span class="material-icons ml-2">arrow_forward</span></nuxt-link> 
            </div>
        </section>
        <section>
          <div class="posts d-flex flex-wrap">
            <div class="stud-container" v-for="item in filteredPosts" :key="item.slug" 
            :class="{BAI: item.acf.atelier == 'BAI',
              BCERA: item.acf.atelier == 'BCERA',
              BCINE: item.acf.atelier == 'BCINE',
              BCOM: item.acf.atelier == 'BCOM',
              BCROA: item.acf.atelier == 'BCROA',
              BDLP: item.acf.atelier == 'BDLP',
              BDI: item.acf.atelier == 'BDI',
              BDT: item.acf.atelier == 'BDT',
              BDESS: item.acf.atelier == 'BDESS',
              BESPA: item.acf.atelier == 'BESPA',
              BGRAV: item.acf.atelier == 'BGRAV',
              BPEIN: item.acf.atelier == 'BPEIN',
              BPHOT: item.acf.atelier == 'BPHOT',
              BSCEN: item.acf.atelier == 'BSCEN', 
              BSCUL: item.acf.atelier == 'BSCUL',
              BSTYL: item.acf.atelier == 'BSTYL',
              BTYPO: item.acf.atelier == 'BTYPO',
              Q1: item.acf.quadri == 'Q1',
              Q2: item.acf.quadri == 'Q2',
              isUptodate: item.acf.status == 'Up-to-date', 
              isOK: item.acf.status == 'OK', isCas: item.acf.status == 'Cas', 
              isNeant: item.acf.status == 'Néant', 
              isDepou: item.acf.status == 'Dépoussiéré',
              isDispense: item.acf.status == 'Dispense',
              isHorsliste: item.acf.hors_liste == true
              }">
              
                <Student 
                :id="item.id" 
                :slug="item.slug" 
                :categories="item.categories_names"
                :status="item.acf.status"
                :photo="item.featured_image_url"
                :title="item.title.rendered"
                :nom="item.acf.nom" 
                :prenom="item.acf.prenom"
                :atelier="item.acf.atelier"
                :annee="item.acf.annee"
                :anneereelle="item.categories[1]"
                :professeur="item.acf.professeur"
                :quadri="item.acf.quadri"
                :horsliste="item.acf.hors_liste"
                :presences_prises=Number(item.acf.presences_prises)
                :presences_total=Number(item.acf.presences_total)
                :xr6_rendus=Number(item.acf.xr6_rendus)
                :xr6_donnes=Number(item.acf.xr6_donnes)
                :totalExercices="Number(item.acf.total_exercices_sur_)"
                :vector1=Number(item.acf.vector_1)
                :vector2=Number(item.acf.vector_2)
                :vector3=Number(item.acf.vector_3)
                :vector4=Number(item.acf.vector_4)
                :vector5=Number(item.acf.vector_5)
                :vectorBonus=Number(item.acf.bonus_vector)
                :carto1=Number(item.acf.carto_consignes)
                :carto2=Number(item.acf.carto_technique)
                :carto3=Number(item.acf.carto_artistique)
                :cartostatic=Number(item.acf.total_carto_static)
                :bitmap1=Number(item.acf.bitmap_1)
                :bitmap2=Number(item.acf.bitmap_2)
                :bitmap3=Number(item.acf.bitmap_3)
                :bitmap4=Number(item.acf.bitmap_4)
                :bitmap5=Number(item.acf.bitmap_5)
                :bitmapBonus=Number(item.acf.bonus_bitmap)
                :postal1=Number(item.acf.postal_consignes)
                :postal2=Number(item.acf.postal_technique)
                :postal3=Number(item.acf.postal_artistique)
                :postalstatic=Number(item.acf.total_postal_static)
                :indd1=Number(item.acf.xr6_mep)
                :fold1=Number(item.acf.fold_consignes)
                :fold2=Number(item.acf.fold_technique)
                :fold3=Number(item.acf.fold_artistique)
                :foldstatic=Number(item.acf.total_fold_static)
                :workshop=Number(item.acf.workshop)
                :pleniere=Number(item.acf.pleniere)
                :commentVector="item.acf.commentaires_vectoriel"
                :commentBitmap="item.acf.commentaires_bitmap"
                :commentINDD="item.acf.commentaires_mise_en_page"
                :commentGeneral="item.acf.comment_general"
                :commentaireGeneral="item.acf.commentaire_general"
                :commentPleniere="item.acf.commentpleniere"
                :commentWorkshop="item.acf.commentworkshop"
                :ponderation_exercices="item.acf.ponderation_exercices"
                :ponderation_carto="item.acf.ponderation_postal"
                :ponderation_postal="item.acf.ponderation_carto"
                :ponderation_fold="item.acf.ponderation_fold"
                :ponderation_workshop="item.acf.ponderation_workshop"
                :ponderation_pleniere="item.acf.ponderation_pleniere"
                />
            </div>
          </div>
        </section>
    </main>
     
  </section>
</template>

<script>
    import axios from 'axios'
    import Student from "~/components/Student"
    import MainMenu from "~/components/MainMenu"
    //import Posts from "~/components/data/students-2019-2020.json"

    export default {
      components: {
        Student,
        MainMenu
      },
      async asyncData({ query, error }) {
        let [postsList, catsList] = await Promise.all([
          axios.get('https://adminlac.be/wp-json/wp/v2/posts/?categories=3&orderby=slug&order=asc')
        ])
        return {
          posts: postsList.data
        }
      },
      created() {
        this.$nuxt.$on('modal-open', () => {
          this.modalOpen = true
        }),
        this.$nuxt.$on('modal-closed', () => {
          this.modalOpen = false
        })
      },
      data() {
        return {
          posts: [],
          //posts: Posts,
          search: '',
          neantVisibility: false,
          horslisteVisibility: false,
          q1Visibility: false,
          currentOrder: 'atelier',
          selectedName: "",
          filterText: '',
          showState: false,
          showALL: true,
          showNONE: false,
          showBAI: true,
          showBCERA: true,
          showBCINE: true,
          showBCOM: true,
          showBCROA: true,
          showBDLP: true,
          showBDI: true,
          showBDT: true,
          showBDESS: true,
          showBESPA: true,
          showBGRAV: true,
          showBPEIN: true,
          showBPHOT: true,
          showBSCEN: true,
          showBSCUL: true,
          showBSTYL: true,
          showBTYPO: true,
          showQ1: true,
          showQ2: true,
          modalOpen: false,
          count: Number,
          options: [
            "BAI",
            "BCERA",
            "BCINE",
            "BCOM",
            "BCROA",
            "BDLP",
            "BDI",
            "BDT",
            "BDESS",
            "BESPA",
            "BGRAV",
            "BPEIN",
            "BPHOT",
            "BSCEN",
            "BSCUL",
            "BSTYL",
            "BTYPO"
          ]
        }
      },
      methods: {
        onScroll (e) {
          if (typeof window === 'undefined') return
          const top = window.pageYOffset ||   e.target.scrollTop || 0
          this.fab = top > 20
        },
        toTop () {
          this.$vuetify.goTo(0)
        }
      },
      computed: {
        filteredPosts: function() {
          return this.posts.filter((post) => {
            return post.slug.match(this.search)
          })
        }
      }
    }
</script>

<style lang="scss">

</style>


