<template>
    <section class="d-flex" :class="{ 
      showBAI: showBAI == true,
      showBCERA: showBCERA == true,
      showBCINE: showBCINE == true,
      showBCOM: showBCOM == true,
      showBCROA: showBCROA == true,
      showBDLP: showBDLP == true,
      showBDI: showBDI == true,
      showBDT: showBDT == true,
      showBDESS: showBDESS == true,
      showBESPA: showBESPA == true,
      showBGRAV: showBGRAV == true,
      showBPEIN: showBPEIN == true,
      showBPHOT: showBPHOT == true,
      showBSCEN: showBSCEN == true,
      showBSCUL: showBSCUL == true,
      showBSTYL: showBSTYL == true,
      showBTYPO: showBTYPO == true,
      showQ1: showQ1 == true,
      showQ2: showQ2 == true,
      modalisopen: modalOpen == true,
      neantHidden: neantVisibility == false,
      q1Hidden: q1Visibility == false,
      horslisteHidden: horslisteVisibility == false
      }">
      <main class="w-100">

        <section>
          <table class="posts d-flex flex-column">
            <tr class="stud-container" v-for="item in filteredPosts" :key="item.slug" 
            :class="{BAI: item.acf.atelier == 'BAI',
              BCERA: item.acf.atelier == 'BCERA',
              BCINE: item.acf.atelier == 'BCINE',
              BCOM: item.acf.atelier == 'BCOM',
              BCROA: item.acf.atelier == 'BCROA',
              BDLP: item.acf.atelier == 'BDLP',
              BDI: item.acf.atelier == 'BDI',
              BDT: item.acf.atelier == 'BDT',
              BDESS: item.acf.atelier == 'BDESS',
              BESPA: item.acf.atelier == 'BESPA',
              BGRAV: item.acf.atelier == 'BGRAV',
              BPEIN: item.acf.atelier == 'BPEIN',
              BPHOT: item.acf.atelier == 'BPHOT',
              BSCEN: item.acf.atelier == 'BSCEN', 
              BSCUL: item.acf.atelier == 'BSCUL',
              BSTYL: item.acf.atelier == 'BSTYL',
              BTYPO: item.acf.atelier == 'BTYPO',
              Q1: item.acf.quadri == 'Q1',
              Q2: item.acf.quadri == 'Q2',
              isUptodate: item.acf.status == 'Up-to-date', 
              isOK: item.acf.status == 'OK', isCas: item.acf.status == 'Cas', 
              isNeant: item.acf.status == 'Néant', 
              isDepou: item.acf.status == 'Dépoussiéré',
              isDispense: item.acf.status == 'Dispense',
              isHorsliste: item.acf.hors_liste == true
              }">
              
                <StudentB1Table 
                :id="item.id" 
                :slug="item.slug" 
                :categories="item.categories_names"
                :status="item.acf.status"
                :photo="item.featured_image_url"
                :title="item.title.rendered"
                :nom="item.acf.nom" 
                :prenom="item.acf.prenom"
                :atelier="item.acf.atelier"
                :annee="item.acf.annee"
                :anneereelle="item.categories[1]"
                :professeur="item.acf.professeur"
                :quadri="item.acf.quadri"
                :horsliste="item.acf.hors_liste"
                :presences_prises=Number(item.acf.presences_prises)
                :presences_total=Number(item.acf.presences_total)
                :xr6_rendus=Number(item.acf.xr6_rendus)
                :xr6_donnes=Number(item.acf.xr6_donnes)
                :totalExercices="Number(item.acf.total_exercices_sur_)"
                :vector1=Number(item.acf.vector_1)
                :vector2=Number(item.acf.vector_2)
                :vector3=Number(item.acf.vector_3)
                :vector4=Number(item.acf.vector_4)
                :vector5=Number(item.acf.vector_5)
                :vectorBonus=Number(item.acf.bonus_vector)
                :carto1=Number(item.acf.carto_consignes)
                :carto2=Number(item.acf.carto_technique)
                :carto3=Number(item.acf.carto_artistique)
                :cartostatic=Number(item.acf.total_carto_static)
                :bitmap1=Number(item.acf.bitmap_1)
                :bitmap2=Number(item.acf.bitmap_2)
                :bitmap3=Number(item.acf.bitmap_3)
                :bitmap4=Number(item.acf.bitmap_4)
                :bitmap5=Number(item.acf.bitmap_5)
                :bitmapBonus=Number(item.acf.bonus_bitmap)
                :postal1=Number(item.acf.postal_consignes)
                :postal2=Number(item.acf.postal_technique)
                :postal3=Number(item.acf.postal_artistique)
                :postalstatic=Number(item.acf.total_postal_static)
                :indd1=Number(item.acf.xr6_mep)
                :fold1=Number(item.acf.fold_consignes)
                :fold2=Number(item.acf.fold_technique)
                :fold3=Number(item.acf.fold_artistique)
                :foldstatic=Number(item.acf.total_fold_static)
                :workshop=Number(item.acf.workshop)
                :pleniere=Number(item.acf.pleniere)
                :commentVector="item.acf.commentaires_vectoriel"
                :commentBitmap="item.acf.commentaires_bitmap"
                :commentINDD="item.acf.commentaires_mise_en_page"
                :commentGeneral="item.acf.comment_general"
                :commentPleniere="item.acf.commentpleniere"
                :commentWorkshop="item.acf.commentworkshop"
                :ponderation_exercices="item.acf.ponderation_exercices"
                :ponderation_carto="item.acf.ponderation_postal"
                :ponderation_postal="item.acf.ponderation_carto"
                :ponderation_fold="item.acf.ponderation_fold"
                :ponderation_workshop="item.acf.ponderation_workshop"
                :ponderation_pleniere="item.acf.ponderation_pleniere"
                />
            </tr>
          </table>
        </section>
    </main>
     
  </section>
</template>

<script>
    import axios from 'axios'
    import StudentB1Table from "~/components/StudentB1Table"
    import MainMenu from "~/components/MainMenu"
    export default {
      components: {
        StudentB1Table,
        MainMenu
      },
      async asyncData({ query, error }) {
        let [postsList, catsList] = await Promise.all([
          axios.get('https://adminlac.be/wp-json/wp/v2/posts/?categories=3&orderby=slug&order=asc')
        ])
        return {
          posts: postsList.data
        }
      },
      created() {
        this.$nuxt.$on('modal-open', () => {
          this.modalOpen = true
        }),
        this.$nuxt.$on('modal-closed', () => {
          this.modalOpen = false
        })
      },
      data() {
        return {
          posts: [],
          search: '',
          neantVisibility: false,
          horslisteVisibility: false,
          q1Visibility: true,
          currentOrder: 'atelier',
          selectedName: "",
          filterText: '',
          showState: false,
          showALL: true,
          showNONE: false,
          showBAI: true,
          showBCERA: true,
          showBCINE: true,
          showBCOM: true,
          showBCROA: true,
          showBDLP: true,
          showBDI: true,
          showBDT: true,
          showBDESS: true,
          showBESPA: true,
          showBGRAV: true,
          showBPEIN: true,
          showBPHOT: true,
          showBSCEN: true,
          showBSCUL: true,
          showBSTYL: true,
          showBTYPO: true,
          showQ1: true,
          showQ2: true,
          modalOpen: false,
          count: Number,
          options: [
            "BAI",
            "BCERA",
            "BCINE",
            "BCOM",
            "BCROA",
            "BDLP",
            "BDI",
            "BDT",
            "BDESS",
            "BESPA",
            "BGRAV",
            "BPEIN",
            "BPHOT",
            "BSCEN",
            "BSCUL",
            "BSTYL",
            "BTYPO"
          ]
        }
      },
      methods: {
        onScroll (e) {
          if (typeof window === 'undefined') return
          const top = window.pageYOffset ||   e.target.scrollTop || 0
          this.fab = top > 20
        },
        toTop () {
          this.$vuetify.goTo(0)
        }
      },
      computed: {
        filteredPosts: function() {
          return this.posts.filter((post) => {
            return post.slug.match(this.search)
          })
        }
      }
    }
</script>

<style lang="scss">

</style>


